body {
  font-family: sans-serif;
  scroll-behavior: smooth;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  min-width: 320px;
  position: relative;
  background: #fff;
  max-width: 3000px;
  margin: auto;
  color: #000;
}

header, section, footer {
  margin: auto;
}

a {
  text-decoration: none;
}
a:focus {
  outline: none !important;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, button {
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

p, a {
  color: #000;
  margin: 0;
}

.content-width {
  width: 1530px;
  margin: auto;
  -webkit-box-shadow: 0px 2px 4px 0px rgb(138, 138, 138);
  -moz-box-shadow: 0px 2px 4px 0px rgb(138, 138, 138);
  box-shadow: 0px 2px 4px 0px rgb(138, 138, 138);
  padding: 40px 80px;
  margin-bottom: 50px;
  border-radius: 3px;
}

h1, h2 {
  margin: 0 0 30px;
}

h2 {
  font-weight: normal;
}

h3 {
  margin: 0 0 30px;
}

h4 {
  margin: 0 0 30px;
}

h5 {
  margin: 0 0 10px;
}

h6 {
  margin: 0 0 10px;
}

input:invalid {
  box-shadow: none;
}

input, textarea, button {
  outline: none !important;
}

.header p {
  font-weight: bold;
}
.header h1 {
  margin-bottom: 60px;
}

main {
  margin-top: 50px;
}

.content {
  margin-top: 50px;
}

.input.row {
  margin-bottom: 30px;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 20px;
}

.checkbox-wrapper {
  position: relative;
}
.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.checkbox-wrapper .checkbox-label {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 37px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.checkbox-wrapper .checkbox-label strong {
  display: block;
}
.checkbox-wrapper .checkbox-label:before {
  position: absolute;
  top: 0px;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
.checkbox-wrapper input:checked + .checkbox-label:before {
  border-color: #ff4d00;
}
.checkbox-wrapper input:checked + .checkbox-label:after {
  position: absolute;
  top: -4px;
  left: 1px;
  width: 22px;
  height: 22px;
  content: "";
  background: url(../img/icon.svg) no-repeat center;
  background-size: contain;
}

.lang-dropdown {
  position: relative;
  cursor: pointer;
}
.lang-dropdown span {
  color: #0707fd;
  font-size: 14px;
  font-weight: bold;
}
.lang-dropdown ul {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #f1f1f1;
  padding: 5px;
}
.lang-dropdown:hover ul {
  display: block;
}
.lang-dropdown input {
  display: none;
}

.button-row {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}
.button-row .btn {
  color: #fff;
  border: 1px solid #ff4d00;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
}
.button-row .btn-primary {
  color: #fff;
  background-color: #ff4d00;
}
.button-row .btn-primary:hover {
  background: transparent;
  color: #ff4d00;
}
.button-row .btn-light {
  color: #ff4d00;
  background: transparent;
}
.button-row .btn-light:hover {
  color: #fff;
  background-color: #ff4d00;
}

@media (max-width: 1650px) {
  .content-width {
    width: 1200px;
  }
}
@media (max-width: 1280px) {
  .content-width {
    width: 960px;
  }
}
@media (max-width: 991px) {
  .content-width {
    width: 720px;
  }
}
@media (max-width: 767px) {
  .content-width {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .content-width {
    width: 100% !important;
    padding: 0 15px;
    box-shadow: none;
  }
  main {
    margin-top: 0;
    padding-top: 10px;
  }
  .button-row .btn {
    padding: 10px;
    font-size: 14px;
  }
}

/*# sourceMappingURL=styles.css.map */
